{{#> base }}
{{> AppSidebar/sidebar author=this }}
<div class="app-main__outer">
    <div class="app-main__inner">
        {{> AppMain/page-title }}
        <div class="row" id="author">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <h5>Listes des auteurs</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">N°</th>
                                    <th class="text-center">Nom et Prenom</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="!loading" v-for="(item, index) in items">
                                    <td class="text-center text-muted"> <% index +1 %></td>
                                    <td class="text-center text-muted"><% item.name.toUpperCase() %></td>
                                    <td class="text-center text-muted">
                                        <button @click="deleteItem" :id="item.id" class="btn btn-danger">supprimer</button>
                                        <button @click="updateItem" :id="item.id" class="btn btn-info">update</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> AppFooter/footer }}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // var info;
    new Vue({
        el: '#author',
        delimiters: ['<%', '%>'],
        data() {
            return {
                loading: true,
                items: [],
                nameCat: '',
              
            }
        },

        mounted() {
            let vm = this;
           
            axios.get('http://164.132.99.169:8000/community/library/livres/index')
                .then(res => {
                    vm.items = res.data.authors;
                    vm.loading = false;
                });
        },

        methods: {

            deleteItem:function(e){
                axios.get('http://164.132.99.169:8000/community/library/author/destroy/'+ e.target.id);
                console.log(e.target.id);
            },

            updateItem:function(e){
                console.log('update');
            },
        }
    });
</script>
{{/ base }}
{{> create}}