/******* TYPOGRAPHY **********/
@font-face {
    font-family: "CustomFont";
    src: url("../css/font/ProductSansRegular.ttf");
    src: url("../css/font/ProductSansBold.ttf"),
    url("../css/font/ProductSansItalic.ttf"),
    url("../css/font/ProductSansBoldItalic.ttf");
}
/******* COLOR **********/
.calendar-color{
    background-color: rgb(208, 209, 211);
}
.cloudStorage-color{
    background-color: rgb(54, 103, 150);
}
.chat-color{
    background-color: #2ab1e0;
}
.commerce-color{
    background-color: rgb(5, 190, 166);
}
.library-color{
    background-color: rgb(152, 50, 98);
}
.voucher-color{
    background-color: rgb(253, 132, 105);
}
.announcement-color{
    background-color: rgb(60, 72, 87);
}
.education-color{
    background-color: rgb(153, 97, 137);
}
.citizenSpace-color{
    color: rgb(124, 137, 190);
}
.description{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px
}
/******* BODY **********/
body, html{
    font-family: 'Product Sans', sans-serif;
    font-weight:normal;
    font-style:normal;
}

.card > svg > text{
    font-size: 1rem !important;
    font-weight: 600;
}

.d-none{
    display: none;
}
.disabled {
    pointer-events: none;
    cursor: default;
}