<div class="page-title-actions">
    <div class="d-inline-block">
        <button type="button"  class="btn-shadow btn btn-info" data-toggle="modal" data-target="#create_dialog">
            <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-plus fa-w-20"></i>
            </span>
            Create
        </button>
    </div>
</div>