{{#> base }}
{{> AppSidebar/sidebar author=this }}
<div class="app-main__outer">
    <div class="app-main__inner">
        {{> AppMain/page-title }}
        <div class="row" id="author">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <h5>Auteurs</h5>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    {{> AppFooter/footer }}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // var info;
    new Vue({
        el: '#author',
        delimiters: ['<%', '%>'],
        data() {
            return {
                loading: true,
                authors: [],
                nameCat: '',
            }
        },

        mounted() {
            let vm = this;
            axios.get('http://164.132.99.169:3000/community/library/livres/index')
                .then(res => {
                    vm.authors = res.data;
                    console.log(vm.authors)
                    vm.loading = false;
                });
        },
    });
</script>
{{/ base }}
{{> createBooks}}