{{#> base }}
{{> AppSidebar/sidebar announcements=this }}
<div class="app-main__outer">
    <div class="app-main__inner">
        {{> AppMain/page-title }}
    </div>

    <br>
    <br>
    <br>
</div>
{{> AppFooter/footer }}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{/ base }}
