{{#> base }}
{{> AppSidebar/sidebar books=this }}
<div class="app-main__outer">
    <div class="app-main__inner">
        {{> AppMain/page-title }}
        <div class="row" id="categorie">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <h5>Catégorie</h5>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
    {{> AppFooter/footer }}
</div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    // var info;
    new Vue({
        el: '#categorie',
        delimiters: ['<%', '%>'],
        data() {
            return {
                loading: true,
                categories: [],
            }
        },

        mounted() {
            let vm = this;
            axios.get('http://0.0.0.0:3000/community/library/livres/index')
                .then(res => {
                    vm.categories = res.data;
                    console.log(vm.categories);
                    vm.loading = false; 
                });
        },
    });
</script>
{{/ base }}
{{> createCat}}
