{{#> AppMain/create_dialog}}
<div class="modal-body">
    <form v-if="showForm" @submit.prevent="storeInformation" method="post" enctype="multipart/form-data">
        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
                <li v-for="error in errors"><% error %></li>
            </ul>
        </p>
        <div class="form-row">
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="exampleEmail11" class="">Books</label>
                    <input name="title" v-model="info.title" placeholder="Titre du livre"
                        type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="exampleAddress" class="">Categorie</label>
                    <select name="categorie_id" id="exampleSelect" placeholder="Select Category" v-model="info.categorie_id"
                        class="form-control">
                        <option value="" disabled selected>Choose</option>
                        <option v-for="category in category" :value="category.id"><% category.name %></option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="exampleAddress" class="">Auteur</label>
                    <select name="auteur_id" id="exampleSelect" placeholder="Select Author" v-model="info.auteur_id"
                        class="form-control">
                        <option value="" disabled selected>Choose</option>
                        <option v-for="author in author" :value="author.id"><% author.name %></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="exampleCity" class="">Livre pdf</label>
                    <input name="file_link" @change="uploadImage" type="file" class="form-control-file">
                </div>
            </div>
        </div>
        <button type="submit" class="mt-2 btn btn-lg btn-primary float-right">Create</button>
    </form>
    <button v-if="!showForm" class="mt-2 btn btn-lg btn-warning float-right" @click="closeDialog()" data-dismiss="modal"
        aria-label="Close">Close</button>
</div>
{{/ AppMain/create_dialog}}

<style>
    #preview {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
</style>
<script>
    // var info;
    new Vue({
        el: '#app',
        delimiters: ['<%', '%>'],
        data() {
            return {
                category: [],
                errors: [],
                books:[],
                author:[],

                info: {
                    title: '',
                    auteur_id:'',
                    categorie_id:'',
                    file_link:'',
                },
                showForm: true,
                url: '',

            }
        },

        mounted() {
            let vm = this;

            axios.get('http://164.132.99.169:3000/community/library/livres/index')
                .then(res => {
                    vm.category = res.data.categories;
                    vm.author = res.data.authors;
                 
                })
        },

        methods: {
            storeInformation(e) {
                e.preventDefault();

                let formData = new FormData(e.target);
                console.log(formData);
                axios.post('http://164.132.99.169:3000/community/library/livres/store', formData).then((res) => {
                    this.showForm = false;
                    console.log(res.data);
                });
            },

            closeDialog() {
                window.location.reload();
            },
            uploadImage(e) {
                this.info.file_link = e.target.files[0];
                this.url = URL.createObjectURL(this.info.file_link);
            }
        }
    });
</script>