{{#> base }}
{{> AppSidebar/sidebar books=this }}
<div class="app-main__outer">
    <div class="app-main__inner">
        {{> AppMain/page-title }}
        <div class="row" id="books">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <h5>Epreuves</h5>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    {{> AppFooter/footer }}
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // var info;
    new Vue({
        el: '#books',
        delimiters: ['<%', '%>'],
        data() {
            return {
                loading: true,
                epreuves: [],
                examen: [],
                nameCat: '',
            }
        },

        mounted() {
            let vm = this;
            axios.get('http://0.0.0.0:3000/community/library/epreuves/index')
                .then(res => {
                    vm.epreuves = res.data.epreuves;
                    vm.examen = res.data.examens;
                    console.log(vm.epreuves);
                    console.log(vm.examen);
                    vm.loading = false;
                });
        },
    });
</script>
{{/ base }}
{{> createEpreuve}}