.navbar-custom{
  background-color: #34325e;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.border-r{
    border-radius: 2%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding: 2px !important;
}
.bg-perso{
    background: #e2e2e2;
}
.left-element{
    float: right;
    width: 100%;
    padding-left: 0;
    padding-right: 0
}
.right-element{
    float: left;
    width: 50%;
    padding-left: 0;
    padding-right: 0
}

.block{
    height:100%;
    width:100%;
    position: relative;
}

.block-element{
    position: absolute; top: 0; background: #3c3a3a; height: 250px; width: 100%; left: 0;right: 0;
}
.p-100{
    padding: 100px;
}
.texts{
    display: none;
}
.text{
    display: block;
}
.first:hover > .texts{
    display: block;
}
.first:hover > .text{
    display: none;
}
.h-sidebar{
    height: 206.455px;
}
.sidebar{
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    right: 0;
    width: 100%;
}
.bg-nice{
    background: lightskyblue;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}
.subnav{
    display: none;
}
.subnav-H{
    height: 60px;
    width: 33.33%;
}
footer > div > div > img{
    height: 32px;
    width: 32px;
}
@media (max-width: 768px) {
    body, html{
        font-size: 60%;
    }
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .subnav{
        display: block;

    }

    .img > img{
        height: 70px !important;
        width: 40% !important;
        margin-top: 20px;
    }
    .sidebar{
        display: none;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        width: 100%;
    }
}
