{{#> base }}
{{> AppSidebar/sidebar books=this }}
<div class="app-main__outer">
    <div class="app-main__inner">
        {{> AppMain/page-title }}
        <div class="row" id="books">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <h5>Examens</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">N°</th>
                                    <th class="text-center">Nom et Prenom</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="!loading" v-for="item in authors">
                                    <td class="text-center text-muted"><%  %></td>
                                    <td class="text-center text-muted"><% item.name %></td>
                                    <td class="text-center text-muted">
                                        <button @click="deleteItem" :id="item.id" class="btn btn-danger">supprimer</button>
                                        <button @click="updateItem" :id="item.id" class="btn btn-info">update</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                </div>
            </div>

        </div>
    </div>
    {{> AppFooter/footer }}
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // var info;
    new Vue({
        el: '#books',
        delimiters: ['<%', '%>'],
        data() {
            return {
                loading: true,
                examens: [],
                titles: '',
            }
        },

        mounted() {
            let vm = this;
            axios.get('http://localhost:3000/community/library/examen/index')
                .then(res => {
                    vm.examens = res.data;
                    console.log(vm.examens);
                    vm.loading = false;
                });
        },

        methods:{
            deleteItem:function(e){

            },

            updateItem:function(e){
                
            }
        }
    });
</script>
{{/ base }}
{{> create}}