{{#> AppMain/create_dialog}}
        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
              <li v-for="error in errors"><% error %></li>
            </ul>
          </p>
        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="exampleEmail11" class="">Info Title</label>
                    <input name="title" v-model="info.title" placeholder="Write the title of the information" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="exampleAddress" class="">Select the Category</label>
                    <select name="category" id="exampleSelect" placeholder="Select Category" v-model="info.category" class="form-control">
                        <option  value="" disabled selected>Choose</option>
                        <option v-for="category in category" :value="category.id"><% category.name %></option>                       
                    </select>
                </div>
            </div>
        </div>
        <div v-if="info.category == 1">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="exampleEmail11" class="">Select activity start Date</label>
                        <input name="start" v-model="info.start" type="datetime-local" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="exampleEmail11" class="">Select activity end Date</label>
                        <input name="end" v-model="info.end" type="datetime-local" class="form-control">
                    </div>
                </div>
            </div>
            <div class="position-relative form-group">
                <label for="exampleState" class="">Activity Venue</label>
                <input name="venue" v-model="info.venue" placeholder="Where Activity will take Place" type="text" class="form-control">
            </div>
        </div>
        <div class="position-relative form-group">
            <label for="examplePassword11" class="">Write the Message</label>
            <textarea name="content" v-model="info.content" placeholder="Information here" type="text" class="form-control" rows="4" required></textarea>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="exampleCity" class="">Add Media if any</label>
                    <input name="media" type="file" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                    <label for="exampleState" class="">Is this Urgent?</label>
                    <select name="priority" id="exampleSelect" v-model="info.priority" class="form-control">
                        <option  value="" disabled selected>Choose</option>
                        <option value="top">Yes</option>
                        <option value="normal">No</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="mt-2 btn btn-lg btn-primary float-right" v-if="save" @click="storeInformation()">Create</button>
        <button class="mt-2 btn btn-lg btn-warning float-right" v-if="close" @click="closeDialog()" data-dismiss="modal" aria-label="Close">Close</button>
{{/ AppMain/create_dialog}}

<script>
// var info;
new Vue ({
    el: '#app',
    delimiters: ['<%', '%>'],
    data (){
        return {
            category: [],
            errors: [],
            info: {
                title: '',
                category:'',
                content: '',
                start: '',
                end: '',
                media: '',
                priority: '',
                venue: '',
            },
            save: true,
            close: false,
        }
    },

    mounted(){
        let vm = this;

        axios.get('http://localhost:8000/community/manage/information/category')
            .then(res=>{
                vm.category = res.data;
            })
    },

    methods: {
        storeInformation() {
            axios.post('http://localhost:8000/community/manage/information',this.$data.info).then((res)=> {
                this.save = false;
                this.close = true;
            });
        },
        closeDialog(){
            window.location.reload();
        },

    }


});
</script>