<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Annonce</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<style>
		body {
			background: rgb(60, 72, 87);
			/*calendar color  208, 209, 211*/
		}
	</style>
	<body>
		<div id="app">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="#">CCMC</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">About</a>
			      </li>
			    </ul>
			    <span class="navbar-text">
			      Sign In
			    </span>
			  </div>
			</nav>
			<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
			    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">CCMC</a> </h5>
			    <nav class="my-2 my-md-0 mr-md-3">
			      <a class="p-2 text-dark" href="/">Home</a>
			      <a class="p-2 text-dark" href="/about">About</a>
			    </nav>
			</div>
			<div class="container my-5">
				<div class="card" style="background-color: #fdfdfd;">
					<h3 class=" card-header">Important Announcements</h3>
					<div class="card-body ml-5">
						<div class="row">
							<div v-for="item in information">
								<div v-if="item.priority == 'top'">
									<div class="col-md-4 mt-3">
										<div class="card shadow h-100" style="width: 18rem;">
											<!-- <img src="media/information.jpg" class="card-img-top" height="150px" alt=""> -->
											<div class="card-body text-center">
												<div class="badge badge-danger float-left">{{item.priority}} Priority</div>
												<div class="badge badge-secondary float-right">From: {{item.user.location.district}}</div>
												<div class="clearfix"></div>
												<br>
												<h5 class="card-title">{{item.title}}</h5>
											</div>
											<div class="card-footer">
												<button class="btn btn-primary">Read All</button>
												<span class="text-muted float-right">1 hour ago</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card mt-3">
					<h3 class=" card-header">Regular Announcements</h3>
					<div class="card-body pl-5">
						<div class="row">
							<div v-for="item in information">
								<div v-if="item.priority == 'normal'">
									<div class="col-md-4 mt-3">
										<div class="card h-100" style="width: 18rem;">
											<!-- <img src="media/information.jpg" class="card-img-top" height="150px" alt=""> -->
											<div class="card-body text-center">
												<div class="badge badge-success float-left">{{item.priority}} Priority</div>
												<div class="badge badge-secondary float-right">From: {{item.user.location.district}}</div>
												<div class="clearfix"></div>
												<br>
												<h5 class="card-title">{{item.title}}</h5>
											</div>
											<div class="card-footer">
												<button class="btn btn-info">Read All</button>
												<span class="text-muted float-right">1 hour ago</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	    <script>
	    	let frontend = new Vue({
	    		el: '#app',
	    		data(){
	    			return{
	    				information:[],
	    			}
	    		},

	    		mounted(){
	    			axios.get('http://localhost:8000/community/information').then((res)=>{
	    				this.information = res.data;
	    			})
	    		}


	    	});
	    </script>
	</body>
</html>