<div class="app-sidebar sidebar-shadow bg-slick-carbon sidebar-text-light">
    {{> ../AppHeader/Components/logo }}
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Analysis</li>
                <li>
                    <a href="index.html"{{#if dashboards-eg-1}} class="mm-active"{{/if}}>
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Platform Usage
                    </a>
                </li>
                <li class="app-sidebar__heading">Education</li>
                <li
                    {{#if elements-buttons-standard}} class="mm-active"{{/if}}
                    {{#if elements-dropdowns}} class="mm-active"{{/if}}
                    {{#if elements-icons}} class="mm-active"{{/if}}
                    {{#if elements-badges-labels}} class="mm-active"{{/if}}
                    {{#if elements-cards}} class="mm-active"{{/if}}
                    {{#if elements-list-group}} class="mm-active"{{/if}}
                    {{#if elements-navigation}} class="mm-active"{{/if}}
                    {{#if elements-utilities}} class="mm-active"{{/if}}
                >
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Library
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul
                        {{#if elements-buttons-standard}} class="mm-show"{{/if}}
                        {{#if elements-dropdowns}} class="mm-show"{{/if}}
                        {{#if elements-icons}} class="mm-show"{{/if}}
                        {{#if elements-badges-labels}} class="mm-show"{{/if}}
                        {{#if elements-cards}} class="mm-show"{{/if}}
                        {{#if elements-list-group}} class="mm-show"{{/if}}
                        {{#if elements-navigation}} class="mm-show"{{/if}}
                        {{#if elements-utilities}} class="mm-show"{{/if}}
                    >
                        <li>
                            <a href="categorie.html"{{#if categorie}} class="mm-active"{{/if}}>
                                <i class="metismenu-icon"></i>
                                Categories
                            </a>
                        </li>
                        <li>
                            <a href="author.html"{{#if elements-buttons-standard}} class="mm-active"{{/if}}>
                                <i class="metismenu-icon"></i>
                                Authors
                            </a>
                        </li>
                        <li>
                            <a href="books.html"{{#if elements-buttons-standard}} class="mm-active"{{/if}}>
                                <i class="metismenu-icon"></i>
                                Livres
                            </a>
                        </li>
                        <li>
                            <a href="examens.html"{{#if elements-dropdowns}} class="mm-active"{{/if}}>
                                <i class="metismenu-icon">
                                </i>Examens
                            </a>
                        </li>
                        <li>
                            <a href="epreuves.html"{{#if elements-dropdowns}} class="mm-active"{{/if}}>
                                <i class="metismenu-icon">
                                </i>Epreuves
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="app-sidebar__heading">ANNOUNCEMENTS AND EVENTS</li>
                <li>
                    <a href="announcement.html"{{#if announcements}} class="mm-active"{{/if}}>
                        <i class="metismenu-icon pe-7s-mouse">
                        </i>Annonce, Events, News
                    </a>
                </li>
                <li class="app-sidebar__heading">MarketPlace</li>
                <li>
                    <a href="#"{{#if widgets-chart-boxes-3}} class="mm-active"{{/if}}>
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Add and Remove items
                    </a>
                </li>
                
                <li class="app-sidebar__heading">Help Center</li>
                <li>
                    <a href="#"{{#if charts-chartjs}} class="mm-active"{{/if}}>
                        <i class="metismenu-icon pe-7s-graph2">
                        </i>Get Help here!
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>